.sidebar{
    color:black;
    height:calc(100vh - var(--headerHeight));
    background-color: #ffffff;
    width:var(--sidebarWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.upperIcons{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    align-items: center;
    justify-content: space-between;

}


.bottomIcons{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    align-items: center;
    justify-content: space-between;

}

.icon{
    
 

    font-size: 2.4rem;
    margin-top: 1rem;
}