.dashboardHeader{

    
    width:100%;
    height:var(--dashboardHeaderHeight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.leftBar{
    
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    
}
.leftBar :nth-child(2){
}
.leftBar .icon{
    margin-left: 1rem;
    /* align-self: center; */

}

.rightBar{
    display: flex;
    /* align-items: stretch; */
    align-items: center;
    justify-content: space-between;
}


.addButton{
    margin-top:1rem  ;
    margin-right: 1rem;
    text-align: center;
    
    padding:1rem;
    border-radius: 50px;
    
}