.workspace{
    background-color: #58cdcb94;
    height:calc(100vh - calc( var(--headerHeight) + var(--dashboardHeaderHeight)) );
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
    padding:4rem 2rem ;
    border-radius: 1rem;
    margin:1rem ;
    
}
